
body{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	border: 1px solid #000;
	
}

table{

	border-collapse: collapse;
	text-align: center;
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;	
} 

thead{

	background-color: rgb(43, 89, 230);
	color: white;
	border-bottom: solid 5px rgb(0, 0, 0);
}

tr:nth-child(even){
	
	background-color: #ddd;
	
}

td{
	border-top : black 1px solid;
	border-bottom: black 1px solid;
	padding: 10px;
} 

th{

	border-top : black 1px solid;
	border-bottom: black 1px solid;
	padding-top: 20px; 
	padding-bottom: 20px;

}

h1{

	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	/* padding-bottom: 15px; */

}

img {
	max-width: 15%;
	max-height: 15%;
	padding-top: 5px;
	padding-left: 10px;
	
}

.container{

	display: flex;
	
}

.report-title{

	padding-left: 155px;

}

footer {
	
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: #000;
	padding-left: 350px;
	;
  }














